<!DOCTYPE html>
<html>
<head>
    <title>Sample Form</title>
    <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
    <link rel="stylesheet" href="index.css">
</head>
<body style="background-color: #b8bee7;">
    <h1>Contact Us</h1>
    <p>Fill out the form below to get in touch with us.</p>

    <form action="/createuser" method="POST">
        <label for="lname">Jméno:</label>
        <input type="text" id="lname" name="lname" required><br><br>

        <label for="fname">Příjmení:</label>
        <input type="text" id="fname" name="fname" required><br><br>

        <button type="submit">Vytvořit uživatele</button>

    </form>
</body>
</html>